DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
SECRET_KEY=
DEBUG=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES

# Para gerar uma SECRET_KEY segura para prod rode no terminal:
# openssl rand -hex 32