# secrets — nunca no git
backend/.env
backend/.env.dev
backend/.env.prod
frontend/.env.production
frontend/.env.development
k8s/prod/secret.yml
k8s/dev/secret.yml

# python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.mypy_cache/
.pytest_cache/
.coverage

# node
node_modules/
dist/
frontend/dist/
backend/frontend/

# tools
actions-runner/
.vscode/
.DS_Store
.idea/
.venv/
.pdm.toml
.pdm.lock

k8s/monitoring/
terraform/